<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HouseManagement"
        android:windowSoftInputMode="stateVisible|adjustResize"
        tools:targetApi="31">
        <activity
            android:name=".activites.users.WorkAccountActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Payment.PaymentWorkActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Payment.PaymentItemActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Payment.AddPaymentsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.RatesAndNormatives.WorkRateOrNormativeActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.RatesAndNormatives.RateOrNormativeItemActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Indication.WorkIndicationActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Counter.ListCountersActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Indication.IndicationItemActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Counter.WorkCounterActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Flat.ListFlatsActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Counter.CounterItemActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Tenant.ListTenantsActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Flat.FlatItemActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Flat.WorkFlatActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Tenant.WorkTenantActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Tenant.TenantItemActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Payment.PaymentsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.RatesAndNormatives.RatesAndNormativesActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Indication.IndicationsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Counter.CountersActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Flat.FlatsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.Tenant.TenantsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.users.AccountActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.other.MenuActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.users.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.other.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>